<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="log4net" version="1.2.10" />
  <package id="Magnum" version="1.1.1.0" />
  <package id="MassTransit" version="2.0.0.1" />
  <package id="RabbitMQ.Client" version="2.4.1" />
  <package id="MassTransit.RabbitMQ" version="2.0.0.1" />
  <package id="Autofac" version="2.4.5.724" />
  <package id="MassTransit.Autofac" version="2.0.0.1" />
</packages>